.mainGame {
  display: grid;
  place-items: center;
  height: 100vh;
  margin-top: -150px;
  position: relative;
}

.gameModeContainer {
  position: absolute;
  top: 10;
  left: 0;
  display: grid;
  place-items: center; 
  width: 100%;
}

.advanced {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "scissors scissors"
    "spock lizard"
    "rock paper";
  max-width: 800px;
}

.normal {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "scissors rock"
    "paper paper";
  max-width: 900px;
  column-gap: 200px;
  row-gap: 200px;
}

@media screen and (max-width: 540px) {
  .mainGame {
    width: 90%;
    margin: auto;
  }
  
  .normal {
    width: 100%;
    column-gap: 0;
    row-gap: 0;
  }
}
