@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-image: radial-gradient(
    farthest-side at 50% 15%,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  background-size: cover;
  height: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 6px;
  padding: 6px 6px;
  width: 100%;
  letter-spacing: 1px;
}

footer div {
  border: 1px solid white;
  padding: 6px 20px;
  color: white;
  border-radius: 6px;
}

.scissors,
.scissors2 {
  grid-area: scissors;
  border: 15px solid hsl(40, 84%, 53%);  
}

.paper,
.paper2 {
  grid-area: paper;
  border: 15px solid hsl(230, 89%, 65%);
}

.rock,
.rock2 {
  grid-area: rock;
  border: 15px solid hsl(349, 70%, 56%);
}

.lizard2 {
  grid-area: lizard;
  border: 15px solid hsl(261, 72%, 63%);
}

.spock2 {
  grid-area: spock;
  border: 15px solid hsl(189, 58%, 57%);
}

.lizard2,
.spock2,
.scissors2,
.paper2,
.rock2,
.scissors,
.paper,
.rock {
  background: white;
  padding: 10px;
  border-radius: 50%;
}

.lizard2,
.spock2 {
  margin-bottom: 90px;
}

.rock2 {
  margin-left: 120px;
}

.paper2 {
  margin-right: 120px;
}

.rock,
.scissors {
  margin-top: -50px;
}
.scissors2 {
  margin-top: -10px;
}

@media screen and (max-width: 700px) {

  .lizard2, .spock2 {
    margin-right: 60px;
    margin-left: auto;
  }

  .spock2 {
    margin-left: 60px;
    margin-right: auto;

  }
  
  .rock2 {
    margin-left: 0;
  }
  
  .paper2 {
    margin-right: 0;
  }
}


@media screen and (max-width: 540px) {
   .lizard2 {
    margin-right: 0px;
  }

  .spock2 {
    margin-left: 0px;
  }

  .lizard2,
  .spock2 {
    margin-bottom: 60px;
  }

  .rock2 {
    margin-left: 0px;
  }

  .paper2 {
    margin-right: 0px;
  }

  .rock,
  .scissors {
    margin-bottom: auto;
    margin-top: -45px
  }

  .rock {
    margin-left: auto;
  }

  .scissors {
    margin-right: auto;
  }

  .paper {
    margin-top: 75px;
  }
}

@media screen and (max-width: 372px) {
 

  .scissors,
  .scissors2 {
    border: 8px solid hsl(40, 84%, 53%);
  }

  .paper,
  .paper2 {
    border: 8px solid hsl(230, 89%, 65%);
  }

  .rock,
  .rock2 {
    border: 8px solid hsl(349, 70%, 56%);
  }

  .lizard2 {
    border: 8px solid hsl(261, 72%, 63%);
  }

  .spock2 {
    border: 8px solid hsl(189, 58%, 57%);
  }


  .lizard2,
  .spock2 {
    margin-bottom: 30px;
  }

  .rock,
  .scissors {
    margin-top: -90px
  }

  .paper {
    margin-bottom: -80px;
  }
}