@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-image: radial-gradient(
    farthest-side at 50% 15%,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  background-size: cover;
  height: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 5px;
  padding: 10px 10px;
  width: 100%;
  letter-spacing: 1px;
}

footer div {
  border: 1px solid white;
  padding: 5px 20px;
  color: white;
  border-radius: 5px;
}
